@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
/* Обнулення */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  color: black;
  font-family: Montserrat;
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}



input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

::-webkit-scrollbar{
  width: 1px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(transparent, #00c6ff);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(transparent, #ffff00);
}
/*---------------------------------------------------------------------*/

/*Основа сайту*/
.wrapper {
    min-height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1600px;
    margin: 0px auto;
    padding: 0px 15px;
    box-sizing: content-box;
}
._ibg{
  position: relative; 
}
._ibg img{
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/*-------HEADER--------------------------------------------------------------*/
.header{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;

}
.header__container{
  display: flex;
  min-height: 104px;
  align-items: center;
}
.header__logo {
  position: relative;
}

.logo{
  width: 200px;
  height: 200px;
}
@media (max-width: 1200px){
  .logo{
  width: 180px;
  height: 180px;
  }
}
@media (max-width: 976px){
  .logo{
  width: 150px;
  height: 150px;
  }
}
@media (max-width: 800px){
  .logo{
  width: 100px;
  height: 100px;
  }
}


.header__menu {
  margin: 0px 0px 0px 50px;
}

@media (max-width: 1600px){
  .header__menu{
    margin: 0px 0px 0px 0px;
    font-size: 18;
  }

}
@media (max-width: 992px){
  .header__menu{
    margin: 0px 0px 0px 0px;
    font-size: 16px;

  }
}
@media (max-width: 900px){
  .header__menu{
    margin: 0px 0px 0px 0px;
    font-size: 14px;

  }
}
@media (max-width: 800px){
  .header__menu{
    margin: 0px 0px 0px 0px;
    font-size: 12px;

  }
}
@media (max-width: 710px){
  .header__menu{
    margin: 0px 0px 0px 0px;
    font-size: 8px;

  }
}



.menu{
padding: 5px 0;
}
.menu__list{
  display: flex;
}
.menu__item{
  
}
.menu__item:not(:last-child){
  margin: 0px 21px 0px 0px;
}
.menu__link{
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  font-family: "Montserrat", sans-serif;
  text-transform: none;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
  background: #3e6ead;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  line-height: calc(24/14 * 100%);
}
.menu__link:hover {
  background: #3e6ead;
  box-shadow: 0 15px 20px #3e6ead;
  color: rgb(255, 255, 255);
  transform: translateY(-7px);
}
.phone{
  display: flex;
  margin: 0px 0px 0px 50px;
  width: 100%;
  left: 0;
  top: 0;
}

.login{
  display: flex;
  margin: 0px 0px 0px 400px;
  font-size: 20px;
}

@media (max-width: 1600px){
  .login{
    margin: 0px 0px 0px 300px;
    font-size: 18px;
  }
}
@media (max-width: 1500px){
  .login{
    margin: 0px 0px 0px 200px;
  }
}
@media (max-width: 1400px){
  .login{
    margin: 0px 0px 0px 100px;
  }
}
@media (max-width: 1300px){
  .login{
    margin: 0px 0px 0px 50px;
  }
}
@media (max-width: 976px){
  .login{
    font-size: 10px;
    width: 200px;
    height: 40px;
    position: relative;
  }
}
@media (max-width: 650px){
  .login{
    font-size: 10px;
    width: 150px;
    height: 40px;
    position: relative;
  }
}
@media (max-width: 540px){
  .login{
    font-size: 10px;
  
  }
  .menu__link{
    width: 200px;
    height: 30px;
    
  }

}



.wave-btn {
  width: 280px;
  height: 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  overflow: hidden;

  position: relative;

  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;

  justify-content: center;
  align-items: center;

  border-radius: 0 0 10px 10px;
  text-decoration: none;
}

.wave-btn:hover {
  border-radius: 10px;

  transition: all 0.8s ease 0.2s;
  -webkit-transition: all 0.8s ease 0.2s;
  -moz-transition: all 0.8s ease 0.2s;
  -ms-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;

  -webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
  box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}
.wave-btn:hover .wave-btn__waves {
  top: -50px;
}

.wave-btn__text {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  letter-spacing: 2px;
  position: relative;
  z-index: 1;
}
.wave-btn__waves {
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: #3e6ead;
  top: 0;
  left: 0;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);

  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
}
.wave-btn__waves:after,
.wave-btn__waves:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;

  transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn__waves:before {
  background-color: #2a4870;
  border-radius: 48%;

  animation: waves 5s infinite linear;
  -webkit-animation: waves 5s infinite linear;
  -moz-animation: waves 5s infinite linear;
  -o-animation: waves 5s infinite linear;
}
.wave-btn__waves:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 44%;

  animation: waves 10s infinite linear;
  -webkit-animation: waves 10s infinite linear;
  -moz-animation: waves 10s infinite linear;
  -o-animation: waves 10s infinite linear;
}

@keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
@-webkit-keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
@-moz-keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
@-o-keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
/*-----------MAIN------------------------------------------------------------------------------------------------------------------------------------ */
.page{
  flex: 1 1 auto;
}

/*-----------FOOTER------------------------------------------------------------------------------------------------------------------------------------ */
.footer {
  background-color: #3e6ead;
}
.footer__container{
  display: flex;
  min-height: 104px;
  align-items: center;
}
.logo_footer{
  width: 150px;
  height: 150px;
}
.footer__menu{
  margin: 0px 0px 0px 30px;
}
.footer-menu__list{
display: flex;
}
.footer-menu__item{
 
}
.footer-menu__item:not(:last-child){
  margin: 0px 10px 0px 0px;
}
.footer-menu__link{
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 25px;
  text-align: center;
  position: center;
  line-height: 24px;
  transition: color 0.3s linear;
}
.footer-menu__link:hover {
  color: rgb(255, 255, 255);
}
@media (max-width: 797px){
  .footer-menu__link{
    font-size: 8px;
    line-height: 1px;
}
}
/* Кнопки соціальних мереж */
.social_network__bottom{
  margin: 0px 0px 0px 200px;
}
.social_network {
  display: inline-flex;
  margin: -15px 0px 0px 800px;
}

@media (max-width: 1600px){
  .social_network {
    display: inline-flex;
    margin: -10px 0px 0px 600px;
  }
  .logo_footer{
    width: 100px;
    height: 100px;
}
}
@media (max-width: 798px){
  .social_network {
    display: inline-flex;
    margin: -10px 0px 0px 20px;
  }
  .logo_footer{
    width: 100px;
    height: 100px;
}

}
.social_network li {
  margin: 10px;
}

.social_network a {
  text-decoration: none;
  background: #3e6eadcc;
  color: rgb(12, 156, 252);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  box-shadow: -1px 1px 10px -1px #010101;
  position: relative;
  overflow: hidden;
}

.social_network a i {
  font-size: 34px;
  transition: 0.3s ease;
}

.social_network a:before {
  position: absolute;
  content: "";
  width: 120%;
  height: 120%;
  background-color: #fffb1d;
  left: -110%;
  top: 90%;
  transform: rotate(45deg);
}

.social_network a:hover i {
  transform: scale(1.3);
  color: rgb(12, 156, 252);
}

.social_network a:hover:before {
  animation-name: hover;
  animation-duration: 0.6s;
  top: -10%;
  left: -10%;
}

@keyframes hover {
  0% {
    top: -110%;
    left: 90%;
  }
  50% {
    top: 10%;
    left: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

/*-----------MAIN-BLOCK------------------------------------------------------------------------------------------------------------------------------------ */

.main-block {
  position: relative;
}
.main-block__container{

}
.main-block__body{
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
}
.main-block__body > *:not(:last-child){
  margin: 0px 0px 35px 0px;
}
.main-block__title{
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 58px;
  text-align: center;
  position: center;
  color: #609fff;
  line-height: 100%;
  margin: 80px 0px 0px 0px;
  padding: 100px 100px 0px 0px;
  justify-content: center;
  opacity: 0;
  transform: translateX(-150%);
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {transform: translateY(50%);}
  100% {transform: translateY(0); opacity: 1; }

}
@media (max-width: 1600px){
  .main-block__title{
    padding: 50px 0px 0px 0px;
  }
}



/***********************************************************/
label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #609fff;
  margin-bottom: 11px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
  opacity: 0;
  transform: translateX(-150%);
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {transform: translateY(50%);}
  100% {transform: translateY(0); opacity: 1; }
}



.contact__name{
  margin: 10% 0px 25px 25px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #609fff;
  opacity: 0;
  transform: translateX(-150%);
  animation: ani 1.5s forwards;
}
@keyframes ani {
  0% {transform: translateY(50%);}
  100% {transform: translateY(0); opacity: 1; }
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;
  margin-left: 40px;
  flex-grow: 1;
  
}

.form-control {
  border: 2px solid #fff0e8;
  width: 300px;
  padding: 16px 13px;
  color: #7d848b;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  border-radius: 0;
  resize: vertical;
}

.form-group textarea {
  min-height: 150px;
  margin-top: 8px;
  width: 100%;
}

.btn-warning {
  padding: 18px 45px;
  margin: 0px 0px 25px 25px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  background-color: #f29431;
  border-color: #f29431; 
}
.btn-warning:hover {
  color: #fff;
  background-color: #ee810f;
  border-color: #e27b0e; 
}

.edica-contact .contact-form-wrapper .btn {
  padding: 18px 45px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700; }

.contact-sidebar{
  margin-top: 4%;
  margin-left: 5%;
  opacity: 0;
  transform: translateX(-150%);
  animation: sidebar 1.5s forwards;
}
@keyframes sidebar {
  0% {transform: translate(50%);}
  100% {transform: translateY(0); opacity: 1; }
}

.edica-contact .contact-sidebar h5 {
  margin-bottom: 25px;
  color: #609fff;
 }

.edica-contact .contact-sidebar p {
  font-size: 16px;
  line-height: 1.63;
  color: #90c7ff;
  margin-bottom: 19px; }

.edica-contact .contact-sidebar .contact-map {
  margin-top: 53px; 
}
.map__iframes{
  border: 3px solid;
  border-radius: 5px;
  border-color: #609fff;

}
/***********************************************************/




@media (max-width: 797px){
  .main-block__title{
    padding: 0px 0px 0px 0px;
    font-size: 38px;
  }
}
.main-block__image{
  position: absolute; 
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}



